/* ==========================================================================
   Main
   ========================================================================== */

/* =Content
-----------------------------------------------------------------------------*/
.main {
  position: relative;
  .content {
    margin: 0 auto;
    padding: 40px 10%;
    max-width: 1200px;
    &::selection, &::-moz-selection {
      background: $hovercolor;
    }

    &.fixed {
        padding-top: 90px;
    }
    @include breakpoint(baby) {
        padding-top: 90px;
    }
      
    .portrait {
        float: left;
        margin: 5px 50px 10px 0;
        @include breakpoint(mama) {
            margin: 5px 20px 10px 0;
        }
    }
      
    h1 {
        line-height: 3em;
        font-size: 1.3em;
        color: #666;
    }
      
    .hr {
        text-align: center;
        position: relative;
        border: 0px solid transparent !important;
        background: transparent !important;
        width: 100%;
        color: #666;
        display: inline-block;
        &::before, &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 50%;
            border-top: 1px solid #ccc;
            z-index: 0;
            box-sizing: border-box;
        }
        &::before {
            border-left: 100px solid transparent;
            left: -50px;
        }
        &::after {
            border-right: 100px solid transparent;
            right: -50px;
        }
    }
      
    .list {
        border: 0px solid transparent !important;
        background: transparent !important;
        width: 100%;
        max-width: 880px;
        margin: 0 auto;
        text-align: center;
        @include breakpoint(baby) {
            display: block;
        }
        
        a {
            border: 0px solid transparent !important;
            margin: 70px 0;
            position: relative;
            text-align: left;
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
            height: 400px;
            box-shadow: 0 1px 1px #ccc;
            background-color: #fff;
            transition: background-color .5s;
            @include breakpoint(baby) {
                width: 100%;
                height: 250px;
            }
            &:hover {
                background-color: $hovercolor;
            }
            
            .itemimg {
                display: inline-block;
                margin: 0;
                height: 100%;
                width: 100%;
                padding: 0;
                background-size: cover !important;
                background-color: $hovercolor;
                background-position: left;
                background-position: top left !important;
                background-repeat: no-repeat !important;
                opacity: 1;
                box-shadow: inset 0 -20px 10px -20px #444;
                transition: opacity .5s;
            }
            .item {
                float: left;
                width: 100%;
                height: 50px;
                box-sizing: border-box;
                margin: 0;
                display: inline-block;
                top: -50px;
                position: absolute;
                line-height: 2rem;
                font-size: 1.2rem;
                padding: 10px;
                @include breakpoint(baby) {
                    line-height: 1.2rem;
                    font-size: 1rem;
                    top: -70px;
                }
            }
            &:hover .item {
                text-decoration: underline;
            }
            &:hover .itemimg {
                opacity: .8;
            }
            &:after {
              content: "";
              width: 100%;
              height: 1px;
              @include background-image(linear-gradient(to right, transparent, #ccc, transparent));
              bottom: -50px;
              left: 0;
              position: absolute;
            }
        }
    }
  }
}